:root {
	--paywall-border-radius: 3px;
}

.paywall-entity-preview {
	margin: 0 0 1rem 0;
	padding: 1rem;
	border: 1px solid var(--elgg-border-color-mild);
	border-radius: var(--paywall-border-radius);
}

.paywall-payment-forms {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.paywall-payment-forms > .paywall-payment-col {
	flex: 1 1 calc(50% - 0.5rem);
	max-width: 50%;
}
